<div class="wrapper">
  <header>
    <!-- NOTE !!!! is routerLinkActive misbehaving? -->
    <!-- If so, cause may be how my css is set up? -->
    <nav>
      <ul>
        <li>
          <a [routerLink]="['/home']" routerLinkActive="active">Home</a>
        </li>
        <li>
          <a [routerLink]="['/scene', '1']" routerLinkActive="active">Scene 1 </a>
        </li>
        <li>
          <a [routerLink]="['/sctest']" routerLinkActive="active">scTest</a>
        </li>
        <li>
          <a [routerLink]="['/about']" routerLinkActive="active">About</a>
        </li>
        <li>
          <a [routerLink]="['/github', 'ngrx']" routerLinkActive="active"><small>repos</small></a>
        </li>
      </ul>
    </nav>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>


  <footer>
    converseng-test2
    <br><em>work in progress</em>
    <br><small>© 2016</small>
  </footer>
</div>